/**
* 
*  Author: WPFreelance
*  
*  Author URL: wpfreelance.in
*
*  Team:  WPFreelance Team
*
*
**/


/*  Resets
---------------------*/

body { 
    position:relative;
}

.bg-gray {
	background:#eeeeee;
}

.bg-skygreen {
	background:#4AC5CB;
}



/*  Typography
---------------------*/
h1, h2, h3, h4, p{
	font-family: 'Josefin Slab', serif;
}

a { 
font-family: 'Quicksand', sans-serif;

}


/*  Navigation
---------------------*/

nav {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
	margin:0 !important;
	box-shadow: 0 0 4px #ccc;
}
.navbar-nav > li > a {
	line-height:70px;
	font-size:18px;
}
.nav.navbar-nav.navbar-right a:hover {
    background: none repeat scroll 0 0 #f04d79;
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { background: none repeat scroll 0 0 #f04d79;
    color: #fff; }
	
.active {    background: none repeat scroll 0 0 #f04d79;
    color: #fff !important;}

/*  Header
--------------------*/

.cbp-so-section.cbp-so-init.cbp-so-animate:first-child {
    border-bottom: 4px solid #f04d79;
}



/*  Buttons
---------------------*/

.button { 
    border-radius: 5px;
    color: white;
    font-size: 18px;
    line-height: 8em;
    margin-right: 20px;
    padding: 23px 70px;
	transition:all 0.3s ease 0s;
	font-weight:bold;
	letter-spacing:1px;
}

.learn_btn {
	border:3px solid #4AC5CB;
	background:#4AC5CB;
}
.learn_btn:hover {
	background:none repeat scroll 0 0 transparent;
	color:#4AC5CB;
	text-decoration:none;
}
.buy_btn {
	border:3px solid #F04D79;
	background:#F04D79;
}
.buy_btn:hover {
	background:none repeat scroll 0 0 transparent;
	color:#F04D79;
	text-decoration:none;
}



/*  Divider 
-----------------*/

.divider {
    background: none repeat scroll 0 0 #4ac5cb;
    height: 4px;
    width: 60%;
	margin-bottom:20px;
}


/*   Component css
------------------------*/

.cbp-so-scroller {
	overflow: hidden;
}

.cbp-so-section {
	padding:4em 0;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
}

.cbp-so-section:after {
	clear: both;
}

/* Text styling */
.cbp-so-section h2 {
	font-size: 4.5em;
	font-weight: 300;
	line-height: 1;
}

.cbp-so-section p {
	font-size: 2em;
	font-weight: 300;
}
.small_p p { font-size:1.4em; }

/* Sides */
.cbp-so-side {
	
	float: left;
	margin: 0;
	overflow: hidden;
	min-height: 12em;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;
}

.cbp-so-side:after {
	clear: both;
}

.cbp-so-side-right {
	text-align: center;
}

.cbp-so-side-left {
	text-align: left;
}

.cbp-so-side-right img {
	float: left;
}

.cbp-so-side-left img {
	float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-80px);
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/


.cbp-so-side.cbp-so-side-right.col-md-6 > h2 {
    color: #f04d79;
}





/* Example media queries */

@media screen and (max-width: 73.5em) {
	.cbp-so-scroller {
		font-size: 65%;
	}

	.cbp-so-section h2 {
		margin: 0;
	}

	.cbp-so-side img {
		max-width: 120%;
	}
}

@media screen and (max-width: 41.125em) {
	.cbp-so-side {
		float: none;
		width: 100%;
	}

	.cbp-so-side img {
		max-width: 100%;
	}
}

